@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Mono:wght@400;500;700&family=Press+Start+2P&family=Uncial+Antiqua&display=swap');

@layer base, utils, components;

@layer base {
}

:root {
	--background0: #fff;
	--background1: #ddd;
	--background2: #bbb;
	--background3: #999;
	--foreground0: #000;
	--foreground1: #444;
	--foreground2: #888;
	--font-size: 16px;
	--line-height: 1.3;
	--font-weight-bold: 700;
	--font-weight-normal: 400;
	--font-family: 'Fira Mono', monospace;
}

[data-webtui-theme='dark'] {
	--background0: #000;
	--background1: #222;
	--background2: #444;
	--background3: #666;
	--foreground0: #fff;
	--foreground1: #ccc;
	--foreground2: #999;
}

body,
html {
	/* background-color: var(--background0);
        color: var(--foreground0); */
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: var(--font-weight-normal);
	line-height: var(--line-height, 1.5);
	font-variant-ligatures: common-ligatures;
	margin: 0;
	padding: 0;
	outline: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	position: relative;
	overflow-x: hidden;
}

body:has([data-layout]) {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}

[data-layout] {
	flex: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.sidebar-light {
	display: grid;
	grid-template-columns: fit-content(20ch) minmax(min(50vw, 30ch), 1fr);
	margin: 0;
	padding: 0;
	outline: none;

	.sidebar {
		background-color: var(--background1);
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}
}

.main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'page';
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

.page {
	grid-area: page;
	width: 100%;
	height: 100%;

	> *:not(.is-full) {
		--layout-spacing: max(8vh, 1rem);
		--max-width: 70ch;
		width: min(100%, var(--max-width));
		margin-left: auto;
		margin-right: auto;
	}
}

@layer components {
}

/* -------------------------------- Flex Grid ------------------------------- */

.flex-grid {
	--min: 15ch;
	--gap: 1rem;

	display: grid;
	grid-gap: var(--gap);
	/* min() with 100% prevents overflow
  in extra narrow spaces */
	grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

/* ------------------------------ Media Wrapper ----------------------------- */

.media-wrapp {
	display: grid;
	grid-template-areas: 'stack';

	/* Set within the HTML for the demo */
	aspect-ratio: var(--stack-aspect-ratio);
	background-color: #200070;
}

.media-wrapp > * {
	grid-area: stack;
}

.media-wrapp video {
	width: 100%;
}

.media-wrapp h3 {
	place-self: center;
	font-size: clamp(2.5rem, 5vw, 5rem);
	text-align: center;
	line-height: 1;
	font-style: italic;
	padding: 5vh 2vw;
}

.media-wrapp--video small {
	align-self: end;
	justify-self: start;
	padding: 0 0 0.25em 0.5em;
	opacity: 0.8;
	font-size: 0.8rem;
}

.media-wrapp h3,
.media-wrapp small {
	position: relative;
	color: #fff;
}

/* ----------------------------- Padded Content ----------------------------- */

.paddes-content {
	padding: 1.5rem clamp(1rem, 5%, 3rem);
}

/* -------------------------------- Zitat Box ------------------------------- */

.zitat-box {
	--color-light: oklch(90.1% 0.058 230.902);
	--color-dark: oklch(58.8% 0.158 241.966);
	margin: 2rem auto;
	color: var(--color-dark);
	background-color: var(--color-light);
	font-size: 1.15rem;

	/* Smol Responsive Padding FTW! */
	padding: clamp(0.75rem, 3%, 2rem);

	/* Provide a max-width and prevent overflow */
	width: min(50ch, 90%);

	/* Help prevent overflow of long words/names/URLs */
	word-break: break-word;

	/* Optional, not supported for all languages */
	hyphens: auto;
}

.zitat-box footer {
	padding: 0.25em 0.5em;
	margin-top: 1rem;
	color: var(--color-light);
	background-color: var(--color-dark);
	font-size: 0.9rem;

	/* Creates a visual box shrunk to `max-content` */
	width: fit-content;
}

/* ----------------------------- Background Sky ----------------------------- */

.background-sky {
	background-color: #d5edf7;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgd2lkdGg9IjIwNDciIGhlaWdodD0iMTAyNCIgdmlld0JveD0iMCAwIDIwNDcgMTAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPGc+DQogICAgPHJlY3Qgd2lkdGg9IjIwNDciIGhlaWdodD0iMTAyMy41MTIiIGZpbGw9IiNENUVERjciIGZpbGwtcnVsZT0iZXZlbm9kZCIgLz4NCiAgICA8cGF0aCBkPSJNMTAyNCAwQzEwMjQgMCAwIDAgMCAwTDAgMTAyMy41MUwxMDI0IDEwMjMuNTFDMTAyNCAxMDIzLjUxIDEwMjQgMCAxMDI0IDBaIiBmaWxsPSIjRDVFREY3IiAvPg0KICAgIDxwYXRoIGQ9Ik04NjUuOSAxMTIuNzQ2Qzg1Ni44NjcgMTEyLjc0NiA4NDkuMTUgMTE1LjcxMSA4NDIuNzUgMTIxLjY0MkM4NDEuODE3IDEyMi41NDIgODQwLjkzMyAxMjMuNDc0IDg0MC4xIDEyNC40NDFDODI0LjI2NyAxMTAuNjQ3IDgwNS4zMzMgMTAzLjc1IDc4My4zIDEwMy43NUM3NzguODMzIDEwMy43NSA3NzQuNDgzIDEwNC4wNSA3NzAuMjUgMTA0LjY1Qzc2OS45MTcgMTA0LjMxNyA3NjkuNTgzIDEwNCA3NjkuMjUgMTAzLjcwMUM3NjIuOTE3IDk3LjczNjcgNzU1LjIxNyA5NC43NTQ4IDc0Ni4xNSA5NC43NTQ4Qzc0MS4wMTcgOTQuNzU0OCA3MzYuMjgzIDk1Ljc1NDMgNzMxLjk1IDk3Ljc1MzRDNzMxLjk1IDk3Ljc1MzQgNzMxLjkgOTcuNzUzNCA3MzEuOSA5Ny43NTM0QzczMS45IDk3LjU4NjcgNzMxLjkxNyA5Ny40MjAyIDczMS45NSA5Ny4yNTM2QzczMi4wMTcgOTYuNTUzOSA3MzIuMDUgOTUuODcxIDczMi4wNSA5NS4yMDQ2QzczMi4wNSA5NC45MDQ3IDczMi4wNSA5NC42NTQ4IDczMi4wNSA5NC40NTVDNzMyLjA1IDk0LjEyMTggNzMyLjA1IDkzLjc3MTkgNzMyLjA1IDkzLjQwNTVDNzMxLjc4MyA4NS40NDI2IDcyOC41ODMgNzguNjEyNSA3MjIuNDUgNzIuOTE1MkM3MTYuMDgzIDY2Ljk4NDcgNzA4LjM4MyA2NC4wMTk0IDY5OS4zNSA2NC4wMTk0QzY5Ny4zNSA2NC4wMTk0IDY5NS40NSA2NC4xNjk0IDY5My42NSA2NC40NjkyQzY5Mi4xNSA1OS43MzgyIDY4OS4zODMgNTUuNTA2OCA2ODUuMzUgNTEuNzc1M0M2NzguOTgzIDQ1Ljg0NDggNjcxLjI4MyA0Mi44Nzk2IDY2Mi4yNSA0Mi44Nzk2QzY1My4yMTcgNDIuODc5NiA2NDUuNTE3IDQ1Ljg0NDggNjM5LjE1IDUxLjc3NTNDNjM0Ljc4MyA1NS44NDAxIDYzMS45IDYwLjQ4NzggNjMwLjUgNjUuNzE4N0M2MTYuMzY3IDY4LjQxNzQgNjAzLjc1IDc0LjQ0NzggNTkyLjY1IDgzLjgxMDFDNTg2Ljk4MyA3OS42Nzg2IDU4MC4zNjcgNzcuNjEzIDU3Mi44IDc3LjYxM0M1NjMuNzY3IDc3LjYxMyA1NTYuMDUgODAuNTc4MiA1NDkuNjUgODYuNTA4N0M1NDUuMDE3IDkwLjg0IDU0Mi4wNjcgOTUuODU0MyA1NDAuOCAxMDEuNTUyQzUzNS4xNjcgMTAwLjQ1MiA1MjkuMyA5OS45MDIzIDUyMy4yIDk5LjkwMjNDNTIxLjI2NyA5OS45MDIzIDUxOS4zMzMgOTkuOTY5IDUxNy40IDEwMC4xMDJDNTE2IDk0Ljk3MTQgNTEzLjE1IDkwLjM5MDIgNTA4Ljg1IDg2LjM1ODhDNTAyLjUxNyA4MC40MjgzIDQ5NC44MTcgNzcuNDYzIDQ4NS43NSA3Ny40NjNDNDc2LjcxNyA3Ny40NjMgNDY5IDgwLjQyODMgNDYyLjYgODYuMzU4OEM0NjIuMzY3IDg2LjYyNTQgNDYyLjE2NyA4Ni44NTg2IDQ2MiA4Ny4wNTg1QzQ1OC40NjcgODEuNTI3OCA0NTQuMSA3Ni4zMzAyIDQ0OC45IDcxLjQ2NTlDNDMyLjYgNTYuMzA2NSA0MTIuOTMzIDQ4LjcxMDEgMzg5LjkgNDguNjc2OEMzODguMzMzIDQ1LjExMTggMzg1Ljk4MyA0MS44OCAzODIuODUgMzguOTgxNEMzNzYuNDgzIDMzLjA1MDkgMzY4Ljc2NyAzMC4wODU3IDM1OS43IDMwLjA4NTdDMzU2LjYzMyAzMC4wODU3IDM1My43NjcgMzAuNDE4OSAzNTEuMSAzMS4wODUyQzM1MC41IDIzLjc1NTQgMzQ3LjMxNyAxNy40MjUgMzQxLjU1IDEyLjA5NDNDMzM1LjE4MyA2LjE2Mzc2IDMyNy40ODMgMy4xOTg0OSAzMTguNDUgMy4xOTg0OUMzMTEuOTgzIDMuMTk4NDkgMzA2LjI1IDQuNjk3NzggMzAxLjI1IDcuNjk2MzVDMjkwLjExNyAyLjU2NTQzIDI3Ny44NSAwIDI2NC40NSAwQzI0MS4zMTcgMCAyMjEuNiA3LjU5NjM0IDIwNS4zIDIyLjc4OTFDMTk3LjczMyAyOS44MTkyIDE5MS45MzMgMzcuNTE1NSAxODcuOSA0NS44NzgxQzE4NS42MzMgNDUuNDQ1IDE4My4yNSA0NS4yMjg0IDE4MC43NSA0NS4yMjg0QzE3MS43ODMgNDUuMjI4NCAxNjQuMDgzIDQ4LjE3NyAxNTcuNjUgNTQuMDc0MkMxNTEuNjUgNTkuNjcxNSAxNDguNSA2Ni40MTgzIDE0OC4yIDc0LjMxNDZDMTQ4LjE2NyA3NC43MTQ0IDE0OC4xNSA3NS4xNDc1IDE0OC4xNSA3NS42MTRDMTQ4LjE1IDc2LjQ4MDIgMTQ4LjE4MyA3Ny4zNDY1IDE0OC4yNSA3OC4yMTI3QzE0OC41NSA4MS44MTEgMTQ5LjQ4MyA4NS4yMDk0IDE1MS4wNSA4OC40MDc4QzE0OS45NSA5MC43MDY3IDE0OS4xNSA5My4xMzg5IDE0OC42NSA5NS43MDQzQzE0MC4yODMgOTkuNDAyNiAxMzIuNTUgMTA0LjU2NyAxMjUuNDUgMTExLjE5N0MxMjIuNDUgMTEzLjk5NiAxMTkuNzE3IDExNi45MjggMTE3LjI1IDExOS45OTNDMTEyLjE1IDExNi45NjEgMTA2LjM1IDExNS40NDUgOTkuODUgMTE1LjQ0NUM5MC44MTY3IDExNS40NDUgODMuMTMzMyAxMTguNDEgNzYuOCAxMjQuMzQxQzcyLjAzMzMgMTI4LjczOSA2OS4wNSAxMzMuODE5IDY3Ljg1IDEzOS41ODNDNjcuMzE2NyAxMzkuNTgzIDY2Ljc4MzMgMTM5LjU4MyA2Ni4yNSAxMzkuNTgzQzUzLjI1IDEzOS41ODMgNDEuMzMzMyAxNDIuMDE2IDMwLjUgMTQ2Ljg4QzI1LjkgMTQ0LjU4MSAyMC44MzMzIDE0My40MzIgMTUuMyAxNDMuNDMyQzkuNjY2NjYgMTQzLjQzMiA0LjU2NjY3IDE0NC41OTggMCAxNDYuOTNDMCAxNDYuOTMgMCAzOTguNjYgMCAzOTguNjZMMTAyNCAzOTguNjZDMTAyNCAzOTguNjYgMTAyNCAxNTAuMTc4IDEwMjQgMTUwLjE3OEMxMDIzLjczIDEzOS42ODMgMTAxOS44NyAxMzAuNzA0IDEwMTIuNCAxMjMuMjQxQzEwMDUuNzMgMTE2LjU3OCA5OTcuOSAxMTIuNzggOTg4LjkgMTExLjg0N0M5ODcuNDY3IDEwOS43ODEgOTg1LjgxNyAxMDcuODE1IDk4My45NSAxMDUuOTQ5Qzk3Ni4xODMgOTguMTg2NSA5NjYuODUgOTQuMzA1MSA5NTUuOTUgOTQuMzA1MUM5NTEuMjgzIDk0LjMwNTEgOTQ2LjkxNyA5NS4wMjE0IDk0Mi44NSA5Ni40NTRDOTM3LjM4MyA5OC4zMTk3IDkzMi40MzMgMTAxLjQ4NSA5MjggMTA1Ljk0OUM5MjEuOCAxMTIuMTEzIDkxOC4wODMgMTE5LjMyNiA5MTYuODUgMTI3LjU4OUM5MDkuNzUgMTI4LjQ1NSA5MDMuMDMzIDEzMC4xNTUgODk2LjcgMTMyLjY4N0M4OTUuMTMzIDEyOC41ODkgODkyLjU2NyAxMjQuOTA3IDg4OSAxMjEuNjQyQzg4Mi42NjcgMTE1LjcxMSA4NzQuOTY3IDExMi43NDYgODY1LjkgMTEyLjc0NloiIGZpbGw9IiNFNkY0RkEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMzk1LjgxMSkiIC8+DQogICAgPHBhdGggZD0iTTEwMjMuOTUgMTcuMTgwM0MxMDAwLjY4IDI1LjQ0MzEgOTc3LjgzMyAzNC43MDUzIDk1NS40IDQ0Ljk2N0M5MTYuMSA2Mi45NTg0IDg3NS45MTcgNjQuMzc0NSA4MzQuODUgNDkuMjE1Qzc5Ni43ODMgMzUuMTIxNyA3NTguMzE3IDIyLjI2MTIgNzE5LjQ1IDEwLjYzMzRDNjc5LjU1IC0xLjI2MDkzIDYzOS4xMzMgLTMuMTc2NyA1OTguMiA0Ljg4NjE3QzU1Ny4zMzMgMTIuOTQ5IDUxOC4yODMgMjUuODI2MiA0ODEuMDUgNDMuNTE3N0M0NDMuNDE3IDYxLjI3NTkgNDAzLjU4MyA3MC4zMDQ5IDM2MS41NSA3MC42MDQ4QzMxOS41ODMgNzAuOTcxMyAyNzguOTY3IDY0LjAyNDcgMjM5LjcgNDkuNzY0OEMyMDEuNjMzIDM1LjgzODEgMTYyLjgxNyAyNC4yMTAzIDEyMy4yNSAxNC44ODE0QzgxLjg4MzMgNS4yMTkzNiA0MC44IDUuOTg1NjYgMCAxNy4xODAzQzAgMTcuMTgwMyAwIDQwNi4yOTUgMCA0MDYuMjk1TDEwMjMuOTUgNDA2LjI5NUMxMDIzLjk1IDQwNi4yOTUgMTAyMy45NSAxNy4xODAzIDEwMjMuOTUgMTcuMTgwM1oiIGZpbGw9IiNCNkQ5RTciIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgNjE3LjcwNSkiIC8+DQogICAgPHBhdGggZD0iTTEwMjQgMEMxMDI0IDAgMCAwIDAgMEwwIDEwMjMuNTFMMTAyNCAxMDIzLjUxQzEwMjQgMTAyMy41MSAxMDI0IDAgMTAyNCAwWiIgZmlsbD0iI0Q1RURGNyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAyMyAwKSIgLz4NCiAgICA8cGF0aCBkPSJNODY1LjkgMTEyLjc0NkM4NTYuODY3IDExMi43NDYgODQ5LjE1IDExNS43MTEgODQyLjc1IDEyMS42NDJDODQxLjgxNyAxMjIuNTQyIDg0MC45MzMgMTIzLjQ3NCA4NDAuMSAxMjQuNDQxQzgyNC4yNjcgMTEwLjY0NyA4MDUuMzMzIDEwMy43NSA3ODMuMyAxMDMuNzVDNzc4LjgzMyAxMDMuNzUgNzc0LjQ4MyAxMDQuMDUgNzcwLjI1IDEwNC42NUM3NjkuOTE3IDEwNC4zMTcgNzY5LjU4MyAxMDQgNzY5LjI1IDEwMy43MDFDNzYyLjkxNyA5Ny43MzY3IDc1NS4yMTcgOTQuNzU0OCA3NDYuMTUgOTQuNzU0OEM3NDEuMDE3IDk0Ljc1NDggNzM2LjI4MyA5NS43NTQzIDczMS45NSA5Ny43NTM0QzczMS45NSA5Ny43NTM0IDczMS45IDk3Ljc1MzQgNzMxLjkgOTcuNzUzNEM3MzEuOSA5Ny41ODY3IDczMS45MTcgOTcuNDIwMiA3MzEuOTUgOTcuMjUzNkM3MzIuMDE3IDk2LjU1MzkgNzMyLjA1IDk1Ljg3MSA3MzIuMDUgOTUuMjA0NkM3MzIuMDUgOTQuOTA0NyA3MzIuMDUgOTQuNjU0OCA3MzIuMDUgOTQuNDU1QzczMi4wNSA5NC4xMjE4IDczMi4wNSA5My43NzE5IDczMi4wNSA5My40MDU1QzczMS43ODMgODUuNDQyNiA3MjguNTgzIDc4LjYxMjUgNzIyLjQ1IDcyLjkxNTJDNzE2LjA4MyA2Ni45ODQ3IDcwOC4zODMgNjQuMDE5NCA2OTkuMzUgNjQuMDE5NEM2OTcuMzUgNjQuMDE5NCA2OTUuNDUgNjQuMTY5NCA2OTMuNjUgNjQuNDY5MkM2OTIuMTUgNTkuNzM4MiA2ODkuMzgzIDU1LjUwNjggNjg1LjM1IDUxLjc3NTNDNjc4Ljk4MyA0NS44NDQ4IDY3MS4yODMgNDIuODc5NiA2NjIuMjUgNDIuODc5NkM2NTMuMjE3IDQyLjg3OTYgNjQ1LjUxNyA0NS44NDQ4IDYzOS4xNSA1MS43NzUzQzYzNC43ODMgNTUuODQwMSA2MzEuOSA2MC40ODc4IDYzMC41IDY1LjcxODdDNjE2LjM2NyA2OC40MTc0IDYwMy43NSA3NC40NDc4IDU5Mi42NSA4My44MTAxQzU4Ni45ODMgNzkuNjc4NiA1ODAuMzY3IDc3LjYxMyA1NzIuOCA3Ny42MTNDNTYzLjc2NyA3Ny42MTMgNTU2LjA1IDgwLjU3ODIgNTQ5LjY1IDg2LjUwODdDNTQ1LjAxNyA5MC44NCA1NDIuMDY3IDk1Ljg1NDMgNTQwLjggMTAxLjU1MkM1MzUuMTY3IDEwMC40NTIgNTI5LjMgOTkuOTAyMyA1MjMuMiA5OS45MDIzQzUyMS4yNjcgOTkuOTAyMyA1MTkuMzMzIDk5Ljk2OSA1MTcuNCAxMDAuMTAyQzUxNiA5NC45NzE0IDUxMy4xNSA5MC4zOTAyIDUwOC44NSA4Ni4zNTg4QzUwMi41MTcgODAuNDI4MyA0OTQuODE3IDc3LjQ2MyA0ODUuNzUgNzcuNDYzQzQ3Ni43MTcgNzcuNDYzIDQ2OSA4MC40MjgzIDQ2Mi42IDg2LjM1ODhDNDYyLjM2NyA4Ni42MjU0IDQ2Mi4xNjcgODYuODU4NiA0NjIgODcuMDU4NUM0NTguNDY3IDgxLjUyNzggNDU0LjEgNzYuMzMwMiA0NDguOSA3MS40NjU5QzQzMi42IDU2LjMwNjUgNDEyLjkzMyA0OC43MTAxIDM4OS45IDQ4LjY3NjhDMzg4LjMzMyA0NS4xMTE4IDM4NS45ODMgNDEuODggMzgyLjg1IDM4Ljk4MTRDMzc2LjQ4MyAzMy4wNTA5IDM2OC43NjcgMzAuMDg1NyAzNTkuNyAzMC4wODU3QzM1Ni42MzMgMzAuMDg1NyAzNTMuNzY3IDMwLjQxODkgMzUxLjEgMzEuMDg1MkMzNTAuNSAyMy43NTU0IDM0Ny4zMTcgMTcuNDI1IDM0MS41NSAxMi4wOTQzQzMzNS4xODMgNi4xNjM3NiAzMjcuNDgzIDMuMTk4NDkgMzE4LjQ1IDMuMTk4NDlDMzExLjk4MyAzLjE5ODQ5IDMwNi4yNSA0LjY5Nzc4IDMwMS4yNSA3LjY5NjM1QzI5MC4xMTcgMi41NjU0MyAyNzcuODUgMCAyNjQuNDUgMEMyNDEuMzE3IDAgMjIxLjYgNy41OTYzNCAyMDUuMyAyMi43ODkxQzE5Ny43MzMgMjkuODE5MiAxOTEuOTMzIDM3LjUxNTUgMTg3LjkgNDUuODc4MUMxODUuNjMzIDQ1LjQ0NSAxODMuMjUgNDUuMjI4NCAxODAuNzUgNDUuMjI4NEMxNzEuNzgzIDQ1LjIyODQgMTY0LjA4MyA0OC4xNzcgMTU3LjY1IDU0LjA3NDJDMTUxLjY1IDU5LjY3MTUgMTQ4LjUgNjYuNDE4MyAxNDguMiA3NC4zMTQ2QzE0OC4xNjcgNzQuNzE0NCAxNDguMTUgNzUuMTQ3NSAxNDguMTUgNzUuNjE0QzE0OC4xNSA3Ni40ODAyIDE0OC4xODMgNzcuMzQ2NSAxNDguMjUgNzguMjEyN0MxNDguNTUgODEuODExIDE0OS40ODMgODUuMjA5NCAxNTEuMDUgODguNDA3OEMxNDkuOTUgOTAuNzA2NyAxNDkuMTUgOTMuMTM4OSAxNDguNjUgOTUuNzA0M0MxNDAuMjgzIDk5LjQwMjYgMTMyLjU1IDEwNC41NjcgMTI1LjQ1IDExMS4xOTdDMTIyLjQ1IDExMy45OTYgMTE5LjcxNyAxMTYuOTI4IDExNy4yNSAxMTkuOTkzQzExMi4xNSAxMTYuOTYxIDEwNi4zNSAxMTUuNDQ1IDk5Ljg1IDExNS40NDVDOTAuODE2NyAxMTUuNDQ1IDgzLjEzMzMgMTE4LjQxIDc2LjggMTI0LjM0MUM3Mi4wMzMzIDEyOC43MzkgNjkuMDUgMTMzLjgxOSA2Ny44NSAxMzkuNTgzQzY3LjMxNjcgMTM5LjU4MyA2Ni43ODMzIDEzOS41ODMgNjYuMjUgMTM5LjU4M0M1My4yNSAxMzkuNTgzIDQxLjMzMzQgMTQyLjAxNiAzMC41IDE0Ni44OEMyNS45IDE0NC41ODEgMjAuODMzNCAxNDMuNDMyIDE1LjMgMTQzLjQzMkM5LjY2NjYzIDE0My40MzIgNC41NjY2NSAxNDQuNTk4IDAgMTQ2LjkzQzAgMTQ2LjkzIDAgMzk4LjY2IDAgMzk4LjY2TDEwMjQgMzk4LjY2QzEwMjQgMzk4LjY2IDEwMjQgMTUwLjE3OCAxMDI0IDE1MC4xNzhDMTAyMy43MyAxMzkuNjgzIDEwMTkuODcgMTMwLjcwNCAxMDEyLjQgMTIzLjI0MUMxMDA1LjczIDExNi41NzggOTk3LjkgMTEyLjc4IDk4OC45IDExMS44NDdDOTg3LjQ2NyAxMDkuNzgxIDk4NS44MTcgMTA3LjgxNSA5ODMuOTUgMTA1Ljk0OUM5NzYuMTgzIDk4LjE4NjUgOTY2Ljg1IDk0LjMwNTEgOTU1Ljk1IDk0LjMwNTFDOTUxLjI4MyA5NC4zMDUxIDk0Ni45MTcgOTUuMDIxNCA5NDIuODUgOTYuNDU0QzkzNy4zODMgOTguMzE5NyA5MzIuNDMzIDEwMS40ODUgOTI4IDEwNS45NDlDOTIxLjggMTEyLjExMyA5MTguMDgzIDExOS4zMjYgOTE2Ljg1IDEyNy41ODlDOTA5Ljc1IDEyOC40NTUgOTAzLjAzMyAxMzAuMTU1IDg5Ni43IDEzMi42ODdDODk1LjEzMyAxMjguNTg5IDg5Mi41NjcgMTI0LjkwNyA4ODkgMTIxLjY0MkM4ODIuNjY3IDExNS43MTEgODc0Ljk2NyAxMTIuNzQ2IDg2NS45IDExMi43NDZaIiBmaWxsPSIjRTZGNEZBIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDIzIDM5NS44MTEpIiAvPg0KICAgIDxwYXRoIGQ9Ik0xMDIzLjk1IDE3LjE4MDNDMTAwMC42OCAyNS40NDMxIDk3Ny44MzMgMzQuNzA1MyA5NTUuNCA0NC45NjdDOTE2LjEgNjIuOTU4NCA4NzUuOTE3IDY0LjM3NDUgODM0Ljg1IDQ5LjIxNUM3OTYuNzgzIDM1LjEyMTcgNzU4LjMxNyAyMi4yNjEyIDcxOS40NSAxMC42MzM0QzY3OS41NSAtMS4yNjA5MyA2MzkuMTMzIC0zLjE3NjcgNTk4LjIgNC44ODYxN0M1NTcuMzMzIDEyLjk0OSA1MTguMjgzIDI1LjgyNjIgNDgxLjA1IDQzLjUxNzdDNDQzLjQxNyA2MS4yNzU5IDQwMy41ODMgNzAuMzA0OSAzNjEuNTUgNzAuNjA0OEMzMTkuNTgzIDcwLjk3MTMgMjc4Ljk2NyA2NC4wMjQ3IDIzOS43IDQ5Ljc2NDhDMjAxLjYzMyAzNS44MzgxIDE2Mi44MTcgMjQuMjEwMyAxMjMuMjUgMTQuODgxNEM4MS44ODMzIDUuMjE5MzYgNDAuOCA1Ljk4NTY2IDAgMTcuMTgwM0MwIDE3LjE4MDMgMCA0MDYuMjk1IDAgNDA2LjI5NUwxMDIzLjk1IDQwNi4yOTVDMTAyMy45NSA0MDYuMjk1IDEwMjMuOTUgMTcuMTgwMyAxMDIzLjk1IDE3LjE4MDNaIiBmaWxsPSIjQjZEOUU3IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDIzIDYxNy43MDUpIiAvPg0KICA8L2c+DQo8L3N2Zz4=');
	background-repeat: repeat-x;
	background-size: auto 100%;
}
